# Windows binaries
*.dll
*.exe
*.lib
*.pdb
*.ilk

# Linux binaries
*.a
*.o
*.so

# node-gyp build system
build/

# npm modules
node_modules/

# Visual Studio Metainformation
Debug/
Release/
*.sdf
*.suo
*.user
*.filters

# Visual Studio Intellisense database
*.opensdf
*.VC.db
*.VC.opendb

# River SDK
include/

# Explicitly exclude configuration files
config.json