# Windows binaries
*.dll
*.exe
*.lib
*.pdb
*.ilk

# Linux binaries
*.a
*.o
*.so

# Visual Studio Metainformation
#Debug/
#Release/
*.sdf
*.suo
*.user
*.filters

# Visual Studio Intellisense database
*.opensdf
*.VC.db
*.VC.opendb

# node.js deps
node_modules/

#source/libs dependencies
river.format
simpletracer/
river.sdk/
smtlib2parser/
yices2/



#Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
BinLoader/Makefile
Execution/Makefile
SymbolicEnvironment/Makefile
VirtualMemory/Makefile
benchmarking-payload/fmi/Makefile
ipclib/Makefile
loader/Makefile
revtracer-wrapper/Makefile
revtracer/Makefile
wrapper.setup/Makefile

#Vim
Session.vim

!z3/**
.z3-trace/
benchmarking-payload/fmi/.z3-trace/

