# Windows binaries
*.dll
*.exe
*.lib
*.pdb
*.ilk

# Linux binaries
*.a
*.o
*.so

# Visual Studio Metainformation
Debug/
Release/
*.sdf
*.suo
*.user
*.filters

# Visual Studio Intellisense database
*.opensdf
*.VC.db
*.VC.opendb

# node.js deps
node_modules/

#z3 subdir
z3/

include
inst
